.logout-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.logout-btn {
  background-color: #a59a9a;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logout-btn svg {
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.logout-btn:hover {
  background-color: #837a7a;
  transform: scale(1.05);
}

.logout-btn:hover svg {
  transform: rotate(90deg);
}

.logout-btn:focus {
  outline: none;
}
